<?xml version="1.0"?>

<configuration>
   <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
   </configSections>
   <log4net>
      <appender name="ExceptionTailAppender"
                type="ExceptionTail.Log4netAppender.ExceptionTailAppender,ExceptionTail.Log4netAppender.Net20">
         <!--Do not forget to add your API key here-->
         <param name="ApiKey" value="YOUR_API_KEY" />
      </appender>
      <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
         <layout type="log4net.Layout.SimpleLayout" />
      </appender>
      <root>
         <level value="ALL" />
         <appender-ref ref="ExceptionTailAppender" />
         <!--The console appender is not needed by exceptiontail. It was added here for debugging purposes only.-->
         <appender-ref ref="ConsoleAppender"/>
      </root>
   </log4net>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
   </startup>
</configuration>